body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4CAF50;
}



main {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about {
    display: flex;
    flex-wrap: column;
    gap: 20px;
}

.rows {
    display: flex;
flex-wrap: wrap;
    gap: 20px;
    
}

.column {
    flex: 1;
    min-width: 300px;
}

.column h2 {
    font-size: 2rem;
    color: #4CAF50;
}

.column p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

