body{
    background-color: antiquewhite;
    
}
h1{
    color: black;
}
p{
    text-align: center;
    color:black;
}
a:link,a:visited{
    text-align: left;
    background-color: rgb(215, 62, 62);
    color: antiquewhite;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;

}
a:hover,a:active{
    text-align: left;
    color: rgb(8, 104, 8);
}


.footer{
    color: antiquewhite;
    text-align: right;

}

